@charset "UTF-8";
.item{
    background: rgb(0, 217, 255);
    color: #fff;
    padding: 10px;
}

.container{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows:  200px 200px;
}