<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Pixiv Sorter</title>
        <meta name="description" content="あるPixivユーザーの全作品を自動で取得して、「そのユーザーの中での人気作品ランキング」を作成するツールです。いいね数・ブクマ数などを元に、そのユーザーの作品人気トップ15がすぐ分かります。">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/contact_style.css">
        <link rel="icon" type="image/png" href="/static/css/rogo/favicon.png">
    </head>
    <body>
        <div class="cover cover-home">
            <header class="page-header">
                <h1 class="align-center" >
                    <a href="{{url_for('index')}}"><img class="logo" src="../static/css/rogo/rogo.png" alt="Pixiv_Sorter ホーム"></a> 
                </h1>
                <nav>
                    <ul class="main-nav main-font">
                        <li><a href="{{url_for('show_manual')}}">使い方</a></li>
                        <li><a href="{{url_for('show_policy')}}">利用規約</a></li>
                        <li><a href="{{url_for('show_contact')}}">お問い合わせ</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <main class="main">
            <p class="contact">本サービスについての質問・要望等ございましたら、下記の連絡先へお願いします。<br>pixivsorter@gmail.com</p>
        </main>
        <div class="copyright">
            <small>&copy; 2025 Pixiv Sorter</small>
        </div>
    </body>
</html>