<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Pixiv Sorter</title>
        <meta name="description" content="あるPixivユーザーの全作品を自動で取得して、「そのユーザーの中での人気作品ランキング」を作成するツールです。いいね数・ブクマ数などを元に、そのユーザーの作品人気トップ15がすぐ分かります。">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/index_style.css">
        <link rel="icon" type="image/png" href="/static/css/rogo/favicon.png">
    </head>
    <body>
        <div class="cover cover-home">
            <header class="page-header">
                <h1 class="align-center" >
                    <a href="{{url_for('index')}}"><img class="logo" src="../static/css/rogo/rogo.png" alt="Pixiv_Sorter ホーム"></a> 
                </h1>
                <nav>
                    <ul class="main-nav main-font">
                        <li><a href="{{url_for('show_manual')}}">使い方</a></li>
                        <li><a href="{{url_for('show_policy')}}">利用規約</a></li>
                        <li><a href="{{url_for('show_contact')}}">お問い合わせ</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <section class="main">
            <h2 class="page-title">作者さんの<br>人気イラストランキング作成メーカー<br>Pixiv Sorter</h2>
            <p class="explain">サーバー負荷軽減のためランキングは上位15位まで表示されます。<br>また実行環境により、ランキング作成に数秒かかる場合がございます。</p>
            <form method="post">
                <div class="url-form">
                    <label>作者様のURL</label>
                    <input type="url" placeholder="URLを入力" name="maker_url">
                </div>
                <p class="warning">本サービスをご利用になると、<a href="{{url_for('show_policy')}}" class="policy-memo">利用規約</a>に同意したとみなされます。</p>
                <div class="btn">
                    <input class="Enter" type="submit" value="並べ替え" >
                </div>
            </form>
        </section>
        <div class="copyright">
            <small>&copy; 2025 Pixiv Sorter</small>
        </div>
    </body>
</html>