<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Pixiv Sorter</title>
        <meta name="description" content="Pixiv SoretrはPixiv作品を作者ごとの人気順に並べ替えるサイトです。">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/policy_style.css">
        <link rel="icon" type="image/png" href="/static/css/rogo/favicon.png">
    </head>
    <body>
        <div class="cover cover-home">
            <header class="page-header">
                <h1 class="align-center" >
                    <a href="{{url_for('index')}}"><img class="logo" src="../static/css/rogo/rogo.png" alt="Pixiv_Sorter ホーム"></a> 
                </h1>
                <nav>
                    <ul class="main-nav main-font">
                        <li><a href="{{url_for('show_manual')}}">使い方</a></li>
                        <li><a href="{{url_for('show_policy')}}">利用規約</a></li>
                        <li><a href="{{url_for('show_contact')}}">お問い合わせ</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <main class="policy_main">
            <h2 class="main_title">利用規約</h2>
            <h4 class="policy_title">第1条（適用）</h4>
            <ol class="policy_content">
                <li>本サービスはPixivのイラストを並べ替える機能を提供するものであり、Pixivの公式サービスではありません。</li>
                <li>本サービスの利用にあたっては、Pixivの利用規約も遵守する必要があります。</li>
                <li>本規約は、本サービスの利用条件を定めるものであり、ユーザーは本サービスを利用することで本規約に同意したものとみなします。</li>
            </ol>
            <h2 class="policy_title">第2条（免責事項）</h2>
            <ol class="policy_content">
                <li>本サービスの利用により発生したトラブル、損害（直接・間接を問わず）について、運営者は一切の責任を負いません。</li>
                <li>本サービスはPixivのイラストをソートするものであり、Pixivの利用規約に準拠することを保証するものではありません。</li>
                <li>本サービスを利用したことにより、ユーザーがPixivまたは第三者から何らかの措置（アカウント制限・凍結等）を受けたとしても、運営者は一切の責任を負いません。</li>
                <li>本サービスの内容は予告なく変更・終了する場合があります。</li>
            </ol>
            <h2 class="policy_title">第3条（R-18コンテンツについて）</h2>
            <ol class="policy_content">
                <li>本サービスでは、Pixiv上のイラストをソートする性質上、R-18（成人向け）コンテンツが表示される可能性があります。</li>
                <li>R-18コンテンツの閲覧が適用される法令や年齢制限に違反しないかどうかは、ユーザー自身の責任で確認してください。</li>
            </ol>
            <h2 class="policy_title">第4条（利用者データの取り扱い）</h2>
            <ol class="policy_content">
                <li>本サービスは、ユーザーの利用データを最大で半年間保持することがあります。</li>
                <li>収集したデータは、第三者を含め公開されることはなく、運営者によるデータの二次利用も一切行いません。</li>
                <li>ユーザーがデータの削除を希望する場合は、運営者に連絡することで対応を検討します。</li>
            </ol>
            <h2 class="policy_title">第5条（禁止事項）</h2>
            <ol class="policy_content">
                <li id="must_not">ユーザーは、以下の行為を行ってはなりません。</li>
                <ul class="detail">
                    <li>本サービスの不正利用</li>
                    <li>他のユーザーや第三者への迷惑行為・違法行為</li>
                    <li>本サービスの運営を妨害する行為</li>
                    <li>本サービスを利用して並べ替えた結果を、第三者に公開する行為</li>
                </ul>
            </ol>
            <h2 class="policy_title">第6条（サービスの停止・制限）</h2>
            <ol class="policy_content">
                <li>運営者は、以下のいずれかに該当すると判断した場合、事前通知なしにユーザーの利用を一時停止または制限できるものとします。
                    <ul class="detail">
                        <li>本規約に違反した場合</li>
                        <li>本サービスの運営を妨害する行為があった場合</li>
                        <li>その他、運営者が不適切と判断した場合</li>
                    </ul>
                </li>
                <li>運営者は、本条に基づく利用停止等によってユーザーに発生した損害について、一切の責任を負いません。</li>
            </ol>
            <h2 class="policy_title">第7条（知的財産権）</h2>
            <ol class="policy_content">
                <li>本サービスで表示・ソートされるイラストは、すべてPixivの著作権者に帰属 します。</li>
                <li>本サービスは、Pixivのイラストを並べ替える機能を提供するものであり、イラストの改変・転載・再配布を許可するものではありません。</li>
                <li>ユーザーは、Pixivの著作権に関する規約を遵守し、本サービスの利用に際して権利侵害が発生しないよう注意するものとします。</li>
            </ol>
            <h2 class="policy_title">第8条（未成年者の利用）</h2>
            <ol class="policy_content">
                <li>本サービスは、一部のコンテンツにR-18（成人向け）要素を含むため、18歳未満のユーザーは利用を控えてください。</li>
                <li>未成年者が本サービスを利用する場合は、保護者の同意を得たものとみなします。</li>
            </ol>
            <h2 class="policy_title">第9条（Pixivからの要請・対応）</h2>
            <ol class="policy_content">
                <li>本サービスはPixivの公式サービスではなく、Pixivが許諾・提携したものではありません。</li>
                <li>本サービスの運営に関して、Pixivから削除要請や運営停止の指示を受けた場合、運営者は誠実に対応し、必要に応じてサービスの変更・停止を行うことがあります</li>
                <li>ユーザーが本サービスを利用することにより、Pixivの規約違反と判断された場合でも、運営者は一切の責任を負いません。</li>
            </ol>
            <h2 class="policy_title">第10条（規約の変更）</h2>
                <ol class="policy_content">
                    <li>運営者は、必要と判断した場合、本規約を変更することができます。変更後の規約は、本サービス上で通知した時点から適用されるものとします。</li>
                </ol>
            <h2 class="policy_title">第11条（準拠法・管轄）</h2>
                <ol class="policy_content">
                    <li>本規約の解釈は日本法に準拠するものとし、本サービスに関連する紛争は運営者の指定する裁判所を専属的合意管轄とします。</li>
                </ol>
            <div class="return">
                <a class="url" href="{{url_for('index')}}">TOPへ戻る</a>
            </div>
        </main>

        <div class="copyright">
            <small>&copy; 2025 Pixiv Sorter</small>
        </div>
    </body>
</html>